
/*setting up the css*/

html
{
 --spinner:#1EAAF0;
 --center:translate (-50% -50%);
}

.center
{
position:absolute;
width:30px;
height:30px;
background:var(--spinner);
border-radius:50%;
top:50%;
left:50%;
transform: var(--center);
}

.outer-spin, .inner-spin
{
    position:absolute;
    top:50%;
    left:50%;
}
/*Drawing the orbitals*/
.inner-arc{
    width:62px;
    height:62px;
}
.inner-arc_start-a{
    border-color:transparent transparent transparent  green;
 /*NOTE:The order here really matters! */
 transform: var(--center) rotate(0deg);
}
.inner-arc_end-a
{
border-color: red transparent transparent transparent;
transform: var(--center) rotate(0deg);
}

/*Drawing the orbitals */
.inner-arc_start-a {
    border-color: transparent transparent transparent green;
    transform: var(--center) rotate(65deg); 
  }
  .inner-arc_end-a {
    border-color: red transparent transparent transparent;
    transform: var(--center) rotate(45deg);
  }




.inner-moon{
    position:absolute;
    top: 50%;
    left:50%;
    width:12px;
    height:12px;
    background:red;
    border-radius:50%;
    transform:var(--center) translate(33px,0);
}

.inner-arc_start-b{
    border-color:transparent transparent transparent var(--spinner);
    transform:var(--center) rotate(65deg) scale(-1, -1);
}
.inner-arc_end-b{
    border-color:var(--spinner) transparent transparent transparent;
    transform: var(--center) rotate(45deg) scale(-1,-1 );
}
.outer-arc{
    width:100px;
    height:100px;
}
/* Adding the animation*/

@keyframes spin { 100% {transform:rotate (360deg);} }

.outer-spin{
animation:4s linear infinite;
}
.inner-spin{
animation: spin 3s linear infinte;
}